<div class="monster">
  <figure class="monster__avatar">
    <img
      src="/assets/images/monster-{{ monster.monsterImageId + 1 }}.png"
      alt=""
    />
  </figure>
  <div class="monster__body">
    <p class="monster__name">
      {{ monster.name }} <small>Lv {{ monster.level }}</small>
    </p>
    <mat-progress-bar
      class="monster__exp-bar"
      mode="determinate"
      [value]="getExpPercentage()"
    ></mat-progress-bar>

    <p class="monster__exp">経験値 {{ monster | exp }}</p>
  </div>
</div>
